Pods/Pods.xcodeproj/xcuserdata
Instagallery_proj.xcworkspace/xcuserdata
Instagallery_proj.xcodeproj/xcuserdata/developer.xcuserdatad
Instagallery_proj.xcodeproj/project.xcworkspace/xcuserdata
R.generated.swift
